<li class="category-list-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
  <%= category.name %>

  <span class="category-manage">
    <a class="badge badge-info"><%= fa_icon "file-text-o"%></a> 
    <a class="badge badge-danger"><%= fa_icon "trash-o"%></a> 
  </span>
</li>
