.category-manage {
  display: none;
}
.category-list-item:hover > .category-manage {
  display: inline-block;
}
.category-form {
  width: 100%;
}

.course-manage {
  display: none;
  position: absolute;
}

tr:hover span.course-manage {
  display: inline-block;
}
